.card{
  width: 520px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.active{
  background-color: #111d2c;
  color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.question-section{
  width: 520px;
  padding: 20px;
}
.red{
  color: coral;
}
.line{
  width: 500px;
  background: white;
  border-radius: 999px;
  padding: 4px;

}
.line-inside{
  background:coral ;
  height: 8px;
  width: 5%;
  border-radius: 104px;
  

}
.start-time{
  animation: fill 20s linear forwards;
}
@keyframes fill  {
  from {width: 5%;}
  to{ width: 100%;}
}